<table class="table table-dark table-striped text-center table-hover mt-5">
    <thead>
        <tr>
            <th >ID</th>
            <th >Name</th>
            <th >Date</th>
            <th >Main Speaker</th>
            <th >Details</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let event of events">
            <td>{{event._id}}</td>
            <td>{{event.title}}</td>
            <td>{{event.date}}</td>
            <td>{{event.mainSpeaker?.userName??"Not Assigned"}}</td>
            <td><a [routerLink]="['details',event._id]" class="btn btn-success">Details</a></td>
        </tr>
       
    </tbody>
</table>
<router-outlet ></router-outlet>



