

<div class="d-flex container-fluid m-auto w-75 justify-content-around my-5">

    <div class="card shadow-lg bg-body rounded" style="width: 18rem;">
        <img class="" src="../../../assets/studentRegs/student-graduated-avatar-isolated-vector-11224949.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <a [routerLink]="['/studentSignUp']" class="btn btn-primary">Sign Up As Student</a>
        </div>
      </div>


      <div class="card shadow-lg bg-body rounded" style="width: 18rem;">
        <img class="" src="../../../assets/speakerRegs/avarar.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <a  [routerLink]="['/speakerSignUp']" class="btn btn-primary">Sign Up As Speaker</a>
        </div>
      </div>


</div>
