<div class="d-flex container-fluid m-auto w-75 justify-content-around my-5">

    <div class="card shadow-lg bg-body rounded" style="width: 18rem;">
        <img class="" src="../../../assets/studentRegs/student-graduated-avatar-isolated-vector-11224949.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <a [routerLink]="['/admin/student']" class="btn btn-primary">Edit Students</a>
        </div>
      </div>


      <div class="card shadow-lg bg-body rounded" style="width: 18rem;">
        <img class="" src="../../../assets/speakerRegs/avarar.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <a  [routerLink]="['/admin/speaker']" class="btn btn-primary">Edit Speakers</a>
        </div>
      </div>



      <div class="card shadow-lg bg-body rounded" style="width: 18rem;">
        <img class="" src="../../../assets/event.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <a  [routerLink]="['/admin/event']" class="btn btn-primary">Edit&Add Event</a>
        </div>
      </div>

</div>